/*************************************************
    GENERAL STYLES
 *************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}


/************************************************
    UTILITIES --- COMMON CLASSES
 ************************************************/

.container {
    margin: 0 auto;
    width: 80%;
    max-width: 1280px;
}

.bc-violet {
    background-color: rgb(151, 146, 228);
    color: white;
    padding-bottom: 70px;
}

.container img {
    max-width: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


/************************************************
    SITE SECTIONS
 ************************************************/
/* Header */

header {
    height: 80px;
    width: 100%;
    background-color: rgb(0, 132, 253);
    color: white;
    font-size: 2em;
    position: fixed;
    z-index: 9;
}

#head {
    height: 100%;
}

#nav-desktop {
    display: none;

}




/* SECTION 1 - Get a demo */

.demo {
    padding-top: 130px;
    padding-bottom: 80px;
}

.demo>div {
    background-color: #a6c9ef;
    text-align: center;
    border-radius: 20px;
}

.demo h2 {
    color: rgb(0, 132, 253);
    padding-top: 40px;
    padding-right: 20px;
    font-size: 30px;
}

.demo p {
    color: rgb(109, 110, 111);
    font-weight: bold;
    padding: 20px 40px;
    text-align: left;
    line-height: 30px;
}

.demo img {
    width: 70%;
}

.demo button {
    width: 65%;
    padding: 10px 30px;
    margin: 20px;
    color: white;
    border: none;
    background-color: rgb(0, 132, 253);
    border-radius: 20px;
    font-size: 17px;
    font-weight: bold;
}

.acc,
.acc1,
.acc2 {
    margin-top: 20px;
    width: 100%;
}

.acc>i {
    font-size: 100px;
    color: rgb(0, 132, 253);
    padding-top: 20px;
}

.acc2>i {
    font-size: 100px;
    color: rgb(0, 132, 253);
    padding-top: 20px;
}

.acc>p {
    text-align: center;
}

.acc1-left,
.acc1-right {
    display: inline-block;
    width: 48%;
}




/* SECTION 2 - Strategic Plannig */

.strategic-left {
    padding-top: 50px;
}

.strategic-left>h2 {
    padding: 50px 0px;
    font-size: 35px;
}

.strategic-left>p {
    line-height: 30px;
    padding-bottom: 50px;
}


.strategic-right {
    padding-top: 50px;
    background-color: white;
    border-radius: 50px;
    text-align: center;
    color: black;
}

.strategic-right>h2 {
    padding: 20px 0px;
}

.strategic-right>p {
    line-height: 30px;
    font-size: 20px;
    color: rgb(80, 79, 79);
    padding: 10px;
    font-style: italic;
}

.strategic-right>i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: rgb(151, 146, 228);
    border-radius: 50px;
    margin-bottom: 25px;
}



/* SECTION 3 - Testimonials */

.testimonials {
    text-align: center;
}

.testimonials h2 {
    color: rgb(151, 146, 228);
    padding-top: 40px;
    font-size: 35px;
}

.testimonials p {
    color: rgb(80, 79, 79);
    line-height: 30px;
    padding: 20px 30px 0px 30px;
    font-size: 20px;
}

.card-t img {
    border-radius: 50%;
}

.card-t .img {
    width: 70%;
    margin: 0 auto;
    padding: 20px 0px;
}

.card-t {
    margin: 20px 0px;
    border-radius: 50px;
    text-align: center;
    padding-bottom: 30px;
}

.card-t p {
    line-height: 30px;
    padding: 20px 30px 0px 30px;
    font-size: 20px;
}

.card-t h3 {
    padding-top: 20px;
}

#special {
    padding-bottom: 80px;
}


/************************************************
     RESPONSIVE
 ************************************************/


/* Media Query TABLET */
@media all and (min-width: 481px) {

    /* Section - 1 */
    .container {
        width: 90%;
    }

    .demo {
        display: flex;
        flex-wrap: wrap;
    }

    .demo h2 {
        font-size: 25px;
    }

    .acc1 {
        width: 63%;
    }

    .acc2,
    .acc {
        width: 32%;
    }

    .acc>i,
    .acc2>i {
        font-size: 70px;
    }

    .acc1 button,
    .acc1 img {
        position: relative;
        right: 50px;
        top: 5px;
    }

    /* Section - 2 */

    .strategic-left>p {
        font-size: 12px;
    }

    .strategic-right>p {
        font-size: 12px;
        padding: 0px 50px;
    }

    .strategic-right>i {
        margin-top: 20px;
    }

    /* Section - 3 */

    .testimonials p {
        font-size: 15px;
    }

    .testimonials h2 {
        padding-top: 20px;
    }

    .card-t {
        display: flex;
        align-items: center;
        padding: 0px;

    }

    .card-t .img {
        width: 35%;
    }

    .card-t .text {
        width: 60%;
        padding: 0px 15px;
    }

    .card-t p {
        line-height: 20px;
        font-size: 15px;
        text-align: left;
        padding: 0;
    }

    .card-t h3 {
        text-align: left;
    }

    /* Section - 4 */




}





/* Media Query DESKTOP */

@media all and (min-width: 768px) {

    /* nav */
    #hamburger {
        display: none;
    }

    #nav-desktop {
        display: block;
        font-size: 17px;
    }

    #nav-desktop>span {
        padding-right: 10px;
    }

    #nav-desktop>button {
        border-radius: 20px;
        border: none;
        padding: 7px 20px;
    }

    /* Section - 1 */
    .container {
        width: 90%;
    }

    .demo {
        display: flex;
        flex-wrap: wrap;
    }

    .acc1 {
        width: 63%;
    }

    .acc2,
    .acc {
        width: 32%;
    }

    .acc1 button,
    .acc1 img {
        position: static;
    }


    /* Section - 2 */
    .strategic {
        width: 70%;
        margin: auto;
    }

    .strategic-left,
    .strategic-right {
        display: inline-block;
        width: 40%;
    }

    .strategic-left {
        position: relative;
        left: 50px;
        top: 60px;
    }

    .strategic-left img {
        width: 90%;
        padding-bottom: 30px;
    }

    .strategic-right {
        position: relative;
        left: 100px;
        top: 20px;
    }

    .strategic-right img {
        width: 50%;
    }

    /* Section - 3 */

    .card-t .img {
        width: 20%;
    }

    .card-t .text {
        width: 75%;
    }

    .card-t p {
        line-height: 30px;
        font-size: 20px;
    }

    /* Section - 4 */



}