/*************************************************
    GENERAL STYLES
 *************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}


/************************************************
    UTILITIES - - COMMON CLASSES
 ************************************************/

.container {
    margin: 0 auto;
    width: 80%;
    max-width: 1280px;

}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


/************************************************
    SITE SECTIONS
 ************************************************/
/* Header */

header {
    height: 80px;
    width: 100%;
    background-color: lightseagreen;
    color: white;
    font-size: 2em;
    position: fixed;
    z-index: 9;
}

#head {
    height: 100%;
}

#nav-desktop {
    display: none;

}

/* SECTION 1 - Get a demo */

.demo {
    padding-top: 130px;
}

.demo>div {
    background-color: #a6c9ef;
    text-align: center;
    border-radius: 20px;
}

.demo h2 {
    color: rgb(21, 113, 226);
    padding-top: 40px;
    padding-right: 20px;
    font-size: 30px;
}

.demo p {
    color: rgb(109, 110, 111);
    font-weight: bold;
    padding: 20px 40px;
    text-align: left;
    line-height: 30px;
}

.demo img {
    width: 70%;
}

.demo button {
    width: 65%;
    padding: 10px 30px;
    margin: 20px;
    color: white;
    border: none;
    background-color: rgb(21, 113, 226);
    border-radius: 20px;
    font-size: 17px;
    font-weight: bold;
}

.acc,
.acc1 {
    margin-top: 20px;
    width: 100%;

}

.acc>i {
    font-size: 100px;
    color: rgb(21, 113, 226);
    padding-top: 20px;
}

.acc>p {
    text-align: center;
}


/************************************************
     RESPONSIVE
 ************************************************/


/* Media Query TABLET */
@media all and (min-width: 481px) {
    .demo {}
}




/* Media Query DESKTOP */

@media all and (min-width: 769px) {


    #hamburger {
        display: none;
    }

    #nav-desktop {
        display: block;
        font-size: 17px;
    }

    #nav-desktop>span {
        padding-right: 10px;
    }

    #nav-desktop>button {
        border-radius: 9%;
        border: none;
        padding: 4px 7px;
    }
}